@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

$stroke-anim-duration: 0.15s;

.stroke-common {
    position: absolute;
    z-index: -1;
    opacity: 0.4;
    pointer-events: none;
    width: 100%;
    transform: translateX(-3%);
}

html, body, #root {
    height: 100%;
    width: 100%;
}

body:before {
    background-image: url('../public/bg.jpg');
    background-size: cover;
    content: ' ';
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -10;
    opacity: 0.3;
}

.App {
    font-family: 'Kalam', Verdana, sans-serif;
    text-transform: uppercase;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        font-size: 3rem;
        margin-bottom: 0;
        line-height: 1rem;
    }

    > h1 {
        margin-top: 2.5rem;
    }

    .rule {
        flex: 2;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        @for $i from 0 to 13 {
            #info-button#{$i} {
                margin-left: 1rem;
                height: 0.8rem;
                transition: all 0.3s;
                cursor: pointer;

                &:hover {
                    transform: scale(1.25, 1.25);
                }
            }
        }
    }

    h2 {
        font-size: 1.1rem;

        &.divisor {
            flex: 1;
        }

        &.divisible {
            flex: 0.7 0.7
        }
    }

    h2 {
        font-size: 1.1rem;
        font-weight: 700;
    }

    h3 {
        margin-top: 1rem;
        margin-bottom: 0.4rem;
        max-width: 80%;
    }

    label {
        margin-top: 0;
    }

    h3, label {
        font-size: 0.9rem;
        font-weight: 300;
        text-align: center;
    }

    @keyframes draw-stroke {
        from {
            $viewport-width: 0;
            clip-path: polygon(0 0, $viewport-width 0, $viewport-width 100%, 0 100%);
        }
        to {
            $viewport-width: 100%;
            clip-path: polygon(0 0, $viewport-width 0, $viewport-width 100%, 0 100%);
        }
    }

    #credits {
        h4 {
            display: flex;
            justify-content: center;

            .link-container {
                margin-left: 0.3rem;
                position: relative;

                .stroke {
                    @extend .stroke-common;
                    height: 110%;
                    transition: all $stroke-anim-duration;
                    transform: scaleX(5);
                    left: 100%;
                    $viewport-width-start: 20%;
                    $viewport-width-end: 20%;
                    clip-path: polygon($viewport-width-start 0, $viewport-width-end 0, $viewport-width-end 100%,
                            $viewport-width-start 100%);
                }

                &:hover {
                    .stroke {
                        $viewport-width-start: 20%;
                        $viewport-width-end: 40%;
                        clip-path: polygon($viewport-width-start 0, $viewport-width-end 0, $viewport-width-end 100%,
                                $viewport-width-start 100%);
                    }
                }
            }

            &#numberphile-link {
                margin-top: 1rem;
                margin-bottom: 0;
            }

            &#wiki-link {
                margin-top: 0;
            }

            font-size: 0.7rem;
            font-weight: 300;
            text-align: center;

            a {
                text-decoration: none;
                font-weight: 500;
                color: black;
            }
        }
    }

    label {
        margin-bottom: 0;
        line-height: 0.5rem;
        margin-top: 0.8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        input {
            font-family: 'Kalam', Verdana, sans-serif;
            font-size: 2.5rem;
            font-weight: 700;
            width: 9rem;
            background-color: rgba(0, 0, 0, 0);
            border: none;
            text-align: center;
            outline: none;
            margin-right: -15px; // Adjust for increase/decrease arrows to make number centered
        }
    }

    #table {
        width: 80%;
        max-width: 40rem;
        margin-top: 0;

        .table-row {
            display: flex;
            flex-direction: row;
            height: 2.1rem;
            align-items: center;
            $anim-delay: 0s;
            position: relative;

            &:not(:first-of-type) h2 {
                font-weight: 500;
            }

            @for $i from 0 to 13 {
                .stroke {
                    &#stroke#{$i} {
                        $anim-delay: #{$i * 0.2}s;
                        animation: $stroke-anim-duration draw-stroke forwards $anim-delay;
                    }

                    @extend .stroke-common;

                    &.reverse-anim {
                        &#stroke#{$i} {
                            $anim-delay: #{$i * 0.2}s;
                            animation: $stroke-anim-duration draw-stroke-reversed forwards $anim-delay;
                        }
                    }
                }
            }

            @keyframes draw-stroke-reversed {
                from {
                    $viewport-width: 100%;
                    clip-path: polygon(0 0, $viewport-width 0, $viewport-width 100%, 0 100%);
                }
                to {
                    $viewport-width: 0;
                    clip-path: polygon(0 0, $viewport-width 0, $viewport-width 100%, 0 100%);
                }
            }
        }
    }
}

@media (max-width: 650px), (max-height: 650px) {
    html {
        font-size: 14px;

        .App {
            padding-top: 5%;
            overflow: auto;
            height: min-content;

            > h1 {
                margin-top: 3.5rem;
            }

            > h3 {
                line-height: 1.3em;
            }

            > h3, > label {
                font-size: 1.1rem;
            }

            > label {
                line-height: 0;

                input {
                    margin-right: 0;
                    padding: 0;
                }
            }

            #table .table-row {
                height: unset;
                align-items: flex-start;

                .stroke {
                    height: 100%;
                    width: 110%;
                }

                h2 {
                    line-height: 1.3rem;
                    margin: 0.5rem 0;
                    font-size: 1.2rem;
                }

                .divisor, .rule, .divisible {
                    flex-shrink: 0;
                }

                .divisor {
                    flex-basis: 24%;
                }

                .rule {
                    flex-basis: 46%;
                    padding-right: 1.0rem;
                    align-items: flex-start;

                    img {
                        margin-top: 0.6rem;
                        height: 1.0rem;
                    }
                }

                .divisible {
                    flex-basis: 30%;
                }

            }

            #credits {
                margin-bottom: 0.5rem;
                padding: 0 1.3rem;

                h4 {
                    font-size: 0.9rem;
                }
            }
        }
    }
}
