@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
html, body, #root {
  height: 100%;
  width: 100%;
}

.App {
  font-family: "Kalam", Verdana, sans-serif;
  text-transform: uppercase;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.App #bg {
  position: fixed;
  z-index: -10;
  height: 100%;
  opacity: 0.3;
}
.App h1 {
  font-size: 3em;
  margin-bottom: 0;
  line-height: 1em;
}
.App > h1 {
  margin-top: 0;
}
.App .rule {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.App .rule #info-button0 {
  margin-left: 1em;
  height: 0.8em;
  transition: height 0.3s;
  cursor: pointer;
}
.App .rule #info-button0:hover {
  height: 1em;
}
.App .rule #info-button1 {
  margin-left: 1em;
  height: 0.8em;
  transition: height 0.3s;
  cursor: pointer;
}
.App .rule #info-button1:hover {
  height: 1em;
}
.App .rule #info-button2 {
  margin-left: 1em;
  height: 0.8em;
  transition: height 0.3s;
  cursor: pointer;
}
.App .rule #info-button2:hover {
  height: 1em;
}
.App .rule #info-button3 {
  margin-left: 1em;
  height: 0.8em;
  transition: height 0.3s;
  cursor: pointer;
}
.App .rule #info-button3:hover {
  height: 1em;
}
.App .rule #info-button4 {
  margin-left: 1em;
  height: 0.8em;
  transition: height 0.3s;
  cursor: pointer;
}
.App .rule #info-button4:hover {
  height: 1em;
}
.App .rule #info-button5 {
  margin-left: 1em;
  height: 0.8em;
  transition: height 0.3s;
  cursor: pointer;
}
.App .rule #info-button5:hover {
  height: 1em;
}
.App .rule #info-button6 {
  margin-left: 1em;
  height: 0.8em;
  transition: height 0.3s;
  cursor: pointer;
}
.App .rule #info-button6:hover {
  height: 1em;
}
.App .rule #info-button7 {
  margin-left: 1em;
  height: 0.8em;
  transition: height 0.3s;
  cursor: pointer;
}
.App .rule #info-button7:hover {
  height: 1em;
}
.App .rule #info-button8 {
  margin-left: 1em;
  height: 0.8em;
  transition: height 0.3s;
  cursor: pointer;
}
.App .rule #info-button8:hover {
  height: 1em;
}
.App .rule #info-button9 {
  margin-left: 1em;
  height: 0.8em;
  transition: height 0.3s;
  cursor: pointer;
}
.App .rule #info-button9:hover {
  height: 1em;
}
.App .rule #info-button10 {
  margin-left: 1em;
  height: 0.8em;
  transition: height 0.3s;
  cursor: pointer;
}
.App .rule #info-button10:hover {
  height: 1em;
}
.App .rule #info-button11 {
  margin-left: 1em;
  height: 0.8em;
  transition: height 0.3s;
  cursor: pointer;
}
.App .rule #info-button11:hover {
  height: 1em;
}
.App .rule #info-button12 {
  margin-left: 1em;
  height: 0.8em;
  transition: height 0.3s;
  cursor: pointer;
}
.App .rule #info-button12:hover {
  height: 1em;
}
.App h2 {
  font-size: 1.1em;
}
.App h2.divisor {
  flex: 1.2;
}
.App h2.divisible {
  flex: 0.7 0.7;
}
.App h2 {
  font-size: 1.1em;
  font-weight: 700;
}
.App h3, .App label {
  font-size: 0.9em;
  font-weight: 300;
  margin-top: 0;
  text-align: center;
}
.App #credits h4 {
  font-size: 0.7em;
  font-weight: 300;
  text-align: center;
}
.App #credits h4:nth-of-type(1) {
  margin-top: 2em;
  margin-bottom: 0;
}
.App #credits h4:nth-of-type(2) {
  margin-top: 0;
}
.App #credits h4 a {
  text-decoration: none;
  color: black;
  transition: color 0.5s;
}
.App #credits h4 a:hover {
  color: green;
}
.App label {
  margin-bottom: 0;
  line-height: 0.5em;
  margin-top: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App label input {
  font-family: "Kalam", Verdana, sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  width: 4em;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  text-align: center;
  outline: none;
  margin-right: -15px;
}
.App #table {
  width: 70%;
  max-width: 45em;
}
.App #table .table-row {
  display: flex;
  flex-direction: row;
  height: 2.1em;
  align-items: center;
  position: relative;
}
.App #table .table-row:not(:first-of-type) h2 {
  font-weight: 500;
}
.App #table .table-row .stroke {
  position: absolute;
  z-index: -1;
  opacity: 0.4;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  pointer-events: none;
  width: 100%;
  transform: translateX(-3%);
}
.App #table .table-row .stroke#stroke0 {
  animation: 0.15s draw-stroke forwards 0s;
}
.App #table .table-row .stroke.reverse-anim#stroke0 {
  animation: 0.15s draw-stroke-reversed forwards 0s;
}
.App #table .table-row .stroke {
  position: absolute;
  z-index: -1;
  opacity: 0.4;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  pointer-events: none;
  width: 100%;
  transform: translateX(-3%);
}
.App #table .table-row .stroke#stroke1 {
  animation: 0.15s draw-stroke forwards 0.2s;
}
.App #table .table-row .stroke.reverse-anim#stroke1 {
  animation: 0.15s draw-stroke-reversed forwards 0.2s;
}
.App #table .table-row .stroke {
  position: absolute;
  z-index: -1;
  opacity: 0.4;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  pointer-events: none;
  width: 100%;
  transform: translateX(-3%);
}
.App #table .table-row .stroke#stroke2 {
  animation: 0.15s draw-stroke forwards 0.4s;
}
.App #table .table-row .stroke.reverse-anim#stroke2 {
  animation: 0.15s draw-stroke-reversed forwards 0.4s;
}
.App #table .table-row .stroke {
  position: absolute;
  z-index: -1;
  opacity: 0.4;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  pointer-events: none;
  width: 100%;
  transform: translateX(-3%);
}
.App #table .table-row .stroke#stroke3 {
  animation: 0.15s draw-stroke forwards 0.6s;
}
.App #table .table-row .stroke.reverse-anim#stroke3 {
  animation: 0.15s draw-stroke-reversed forwards 0.6s;
}
.App #table .table-row .stroke {
  position: absolute;
  z-index: -1;
  opacity: 0.4;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  pointer-events: none;
  width: 100%;
  transform: translateX(-3%);
}
.App #table .table-row .stroke#stroke4 {
  animation: 0.15s draw-stroke forwards 0.8s;
}
.App #table .table-row .stroke.reverse-anim#stroke4 {
  animation: 0.15s draw-stroke-reversed forwards 0.8s;
}
.App #table .table-row .stroke {
  position: absolute;
  z-index: -1;
  opacity: 0.4;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  pointer-events: none;
  width: 100%;
  transform: translateX(-3%);
}
.App #table .table-row .stroke#stroke5 {
  animation: 0.15s draw-stroke forwards 1s;
}
.App #table .table-row .stroke.reverse-anim#stroke5 {
  animation: 0.15s draw-stroke-reversed forwards 1s;
}
.App #table .table-row .stroke {
  position: absolute;
  z-index: -1;
  opacity: 0.4;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  pointer-events: none;
  width: 100%;
  transform: translateX(-3%);
}
.App #table .table-row .stroke#stroke6 {
  animation: 0.15s draw-stroke forwards 1.2s;
}
.App #table .table-row .stroke.reverse-anim#stroke6 {
  animation: 0.15s draw-stroke-reversed forwards 1.2s;
}
.App #table .table-row .stroke {
  position: absolute;
  z-index: -1;
  opacity: 0.4;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  pointer-events: none;
  width: 100%;
  transform: translateX(-3%);
}
.App #table .table-row .stroke#stroke7 {
  animation: 0.15s draw-stroke forwards 1.4s;
}
.App #table .table-row .stroke.reverse-anim#stroke7 {
  animation: 0.15s draw-stroke-reversed forwards 1.4s;
}
.App #table .table-row .stroke {
  position: absolute;
  z-index: -1;
  opacity: 0.4;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  pointer-events: none;
  width: 100%;
  transform: translateX(-3%);
}
.App #table .table-row .stroke#stroke8 {
  animation: 0.15s draw-stroke forwards 1.6s;
}
.App #table .table-row .stroke.reverse-anim#stroke8 {
  animation: 0.15s draw-stroke-reversed forwards 1.6s;
}
.App #table .table-row .stroke {
  position: absolute;
  z-index: -1;
  opacity: 0.4;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  pointer-events: none;
  width: 100%;
  transform: translateX(-3%);
}
.App #table .table-row .stroke#stroke9 {
  animation: 0.15s draw-stroke forwards 1.8s;
}
.App #table .table-row .stroke.reverse-anim#stroke9 {
  animation: 0.15s draw-stroke-reversed forwards 1.8s;
}
.App #table .table-row .stroke {
  position: absolute;
  z-index: -1;
  opacity: 0.4;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  pointer-events: none;
  width: 100%;
  transform: translateX(-3%);
}
.App #table .table-row .stroke#stroke10 {
  animation: 0.15s draw-stroke forwards 2s;
}
.App #table .table-row .stroke.reverse-anim#stroke10 {
  animation: 0.15s draw-stroke-reversed forwards 2s;
}
.App #table .table-row .stroke {
  position: absolute;
  z-index: -1;
  opacity: 0.4;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  pointer-events: none;
  width: 100%;
  transform: translateX(-3%);
}
.App #table .table-row .stroke#stroke11 {
  animation: 0.15s draw-stroke forwards 2.2s;
}
.App #table .table-row .stroke.reverse-anim#stroke11 {
  animation: 0.15s draw-stroke-reversed forwards 2.2s;
}
.App #table .table-row .stroke {
  position: absolute;
  z-index: -1;
  opacity: 0.4;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  pointer-events: none;
  width: 100%;
  transform: translateX(-3%);
}
.App #table .table-row .stroke#stroke12 {
  animation: 0.15s draw-stroke forwards 2.4s;
}
.App #table .table-row .stroke.reverse-anim#stroke12 {
  animation: 0.15s draw-stroke-reversed forwards 2.4s;
}
@keyframes draw-stroke {
  from {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes draw-stroke-reversed {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  to {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
}

/*# sourceMappingURL=App.css.map */
