@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

html, body, #root {
    height: 100%;
    width: 100%;
}

.App {
    font-family: 'Kalam', Verdana, sans-serif;
    text-transform: uppercase;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    #bg {
        position: fixed;
        z-index: -10;
        height: 100%;
        opacity: 0.3;
    }

    h1 {
        font-size: 3em;
        margin-bottom: 0;
        line-height: 1em;
    }

    > h1 {
        margin-top: 0;
    }

    .rule {
        flex: 2;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        @for $i from 0 to 13 {
            #info-button#{$i} {
                margin-left: 1em;
                height: 0.8em;
                transition: height 0.3s;
                cursor: pointer;

                &:hover {
                    height: 1.0em;
                }
            }
        }
    }

    h2 {
        font-size: 1.1em;

        &.divisor {
            flex: 1.2;
        }

        &.divisible {
            flex: 0.7 0.7
        }
    }

    h2 {
        font-size: 1.1em;
        font-weight: 700;
    }

    h3, label {
        font-size: 0.9em;
        font-weight: 300;
        margin-top: 0;
    }

    h4 {
        font-size: 0.7em;
        font-weight: 300;
        margin-top: 2.5em;

        a {
            text-decoration: none;
            color: black;
            transition: color 0.5s;

            &:hover {
                color: green;
            }
        }
    }

    label {
        margin-bottom: 0;
        line-height: 0.5em;
        margin-top: 0.8em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        input {
            font-family: 'Kalam', Verdana, sans-serif;
            font-size: 2.5em;
            font-weight: 700;
            width: 4em;
            background-color: rgba(0, 0, 0, 0);
            border: none;
            text-align: center;
            outline: none;
            margin-right: -15px; // Adjust for increase/decrease arrows to make number centered
        }
    }

    #table {
        height: 60%;
        width: 45em;

        .table-row {
            display: flex;
            flex-direction: row;
            height: 2.1em;
            align-items: center;
            $anim-delay: 0s;

            &:not(:first-of-type) h2 {
                font-weight: 500;
            }

            @for $i from 0 to 13 {
                .stroke {
                    $anim-duration: 0.15s;

                    &#stroke#{$i} {
                        $anim-delay: #{$i * 0.2}s;
                        animation: $anim-duration draw-stroke forwards $anim-delay;
                    }

                    position: absolute;
                    z-index: -1;
                    transform: scale(1.3, 0.9) translateX(10%);
                    opacity: 0.4;
                    $viewport-width: 0;
                    clip-path: polygon(0 0, $viewport-width 0, $viewport-width 100%, 0 100%);
                    pointer-events: none;

                    &.reverse-anim {
                        &#stroke#{$i} {
                            $anim-delay: #{$i * 0.2}s;
                            animation: $anim-duration draw-stroke-reversed forwards $anim-delay;
                        }
                    }
                }
            }

            @keyframes draw-stroke {
                from {
                    $viewport-width: 0;
                    clip-path: polygon(0 0, $viewport-width 0, $viewport-width 100%, 0 100%);
                }
                to {
                    $viewport-width: 100%;
                    clip-path: polygon(0 0, $viewport-width 0, $viewport-width 100%, 0 100%);
                }
            }

            @keyframes draw-stroke-reversed {
                from {
                    $viewport-width: 100%;
                    clip-path: polygon(0 0, $viewport-width 0, $viewport-width 100%, 0 100%);
                }
                to {
                    $viewport-width: 0;
                    clip-path: polygon(0 0, $viewport-width 0, $viewport-width 100%, 0 100%);
                }
            }
        }
    }
}
