@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

html, body, #root {
    height: 100%;
    width: 100%;
}

.App {
    font-family: 'Kalam', Verdana, sans-serif;
    text-transform: uppercase;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    #bg {
        position: fixed;
        z-index: -10;
        height: 100%;
        opacity: 0.3;
    }

    h1 {
        font-size: 3em;
        margin-bottom: 0;
        line-height: 1em;
    }

    .rule {
        flex: 2;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        @for $i from 0 to 13 {
            #info-button#{$i} {
                margin-left: 1em;
                height: 0.8em;
                transition: height 0.3s;
                cursor: pointer;

                &:hover {
                    height: 1.0em;
                }
            }
        }

        @keyframes fade-in {
            from {
                opacity: 0
            }
            to {
                opacity: 1
            }
        }
    }

    h2 {
        font-size: 1.1em;

        &.divisor {
            flex: 1.2;
        }

        &.divisible {
            flex: 0.7 0.7
        }
    }

    h2 {
        font-size: 1.1em;
        font-weight: 700;
    }

    h3, label {
        font-size: 0.9em;
        font-weight: 300;
        margin-top: 0;
    }

    #number-input {
        display: flex;
        flex-direction: column;
        width: 15em;
        justify-content: center;
        align-items: center;

        label {
            margin-bottom: 0;
            line-height: 0.5em;
            margin-top: 0.8em;
        }

        & input {
            font-family: 'Kalam', Verdana, sans-serif;
            font-size: 2.5em;
            font-weight: 700;
            width: 4em;
            background-color: rgba(0, 0, 0, 0);
            border: none;
            text-align: center;
            outline: none;
        }
    }

    #table {
        height: 70%;
        width: 45em;

        .table-row {
            display: flex;
            flex-direction: row;
            height: 2.1em;
            align-items: center;
            $anim-delay: 0s;

            &:not(:first-of-type) h2 {
                font-weight: 500;
            }

            @for $i from 0 to 13 {
                .stroke {
                    $anim-duration: 0.15s;

                    &#stroke#{$i} {
                        $anim-delay: #{$i * 0.2}s;
                        animation: $anim-duration draw-stroke forwards $anim-delay;
                    }

                    position: absolute;
                    z-index: -1;
                    transform: scale(1.3, 0.9) translateX(10%);
                    opacity: 0.4;
                    $viewport-width: 0;
                    clip-path: polygon(0 0, $viewport-width 0, $viewport-width 100%, 0 100%);
                    pointer-events: none;

                    &.reverse-anim {
                        &#stroke#{$i} {
                            $anim-delay: #{$i * 0.2}s;
                            animation: $anim-duration draw-stroke-reversed forwards $anim-delay;
                        }
                    }
                }
            }

            @keyframes draw-stroke {
                from {
                    $viewport-width: 0;
                    clip-path: polygon(0 0, $viewport-width 0, $viewport-width 100%, 0 100%);
                }
                to {
                    $viewport-width: 100%;
                    clip-path: polygon(0 0, $viewport-width 0, $viewport-width 100%, 0 100%);
                }
            }

            @keyframes draw-stroke-reversed {
                from {
                    $viewport-width: 100%;
                    clip-path: polygon(0 0, $viewport-width 0, $viewport-width 100%, 0 100%);
                }
                to {
                    $viewport-width: 0;
                    clip-path: polygon(0 0, $viewport-width 0, $viewport-width 100%, 0 100%);
                }
            }
        }
    }

    #expl-window-container {
        width: 0;
        height: 0;
        position: fixed;
        background-color: white;
        box-shadow: 7px 8px 20px 0 rgba(0 0 0 / 0.5);
        z-index: 10;

        animation: 0.5s grow forwards;

        #expl-window-bg {
            position: absolute;
            background-image: url("../public/bg.jpg");
            background-size: 79em;
            opacity: 0.3;
            background-color: red;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #expl-window {
            width: 100%;
            height: 100%;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .headline {
                font-size: 2.5em;
                font-weight: 700;
                line-height: 0;
                margin-bottom: 1.1em;
                margin-top: 0.7em;
            }

            #explanation {
                font-size: 1.1em;
                font-weight: 400;
            }

            #demonstration2.divisor {
                $last-digit-color: lightgreen;
            }

            #demonstration2.not-divisor {
                $last-digit-color: red;
            }

            #demonstration2 {
                font-size: 3em;

                span {
                    color: black;
                }

                &.divisor span {
                    animation: 0.5s color-change-lightgreen forwards 1s;
                }

                &.not-divisor span {
                    animation: 0.5s color-change-red forwards 1s;
                }

                @mixin color-change($color) {
                    from {
                        color: black;
                    }
                    to {
                        color: $color;
                        margin-left: 0.5em;
                    }
                }

                @keyframes color-change-lightgreen {
                    @include color-change(lightgreen);
                }

                @keyframes color-change-red {
                    @include color-change(red);
                }
            }
        }
    }

    @keyframes grow {
        from {
            width: 0;
            height: 0;
        }
        to {
            width: 40em;
            height: 20em;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}




