@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
html, body, #root {
  height: 100%;
  width: 100%;
}

body:before {
  background-image: url("../public/bg.jpg");
  background-size: cover;
  content: " ";
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -10;
  opacity: 0.3;
}

.App {
  font-family: "Kalam", Verdana, sans-serif;
  text-transform: uppercase;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.App h1 {
  font-size: 3rem;
  margin-bottom: 0;
  line-height: 1rem;
}
.App > h1 {
  margin-top: 2.5rem;
}
.App .rule {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.App .rule #info-button0 {
  margin-left: 1rem;
  height: 0.8rem;
  transition: all 0.3s;
  cursor: pointer;
}
.App .rule #info-button0:hover {
  transform: scale(1.25, 1.25);
}
.App .rule #info-button1 {
  margin-left: 1rem;
  height: 0.8rem;
  transition: all 0.3s;
  cursor: pointer;
}
.App .rule #info-button1:hover {
  transform: scale(1.25, 1.25);
}
.App .rule #info-button2 {
  margin-left: 1rem;
  height: 0.8rem;
  transition: all 0.3s;
  cursor: pointer;
}
.App .rule #info-button2:hover {
  transform: scale(1.25, 1.25);
}
.App .rule #info-button3 {
  margin-left: 1rem;
  height: 0.8rem;
  transition: all 0.3s;
  cursor: pointer;
}
.App .rule #info-button3:hover {
  transform: scale(1.25, 1.25);
}
.App .rule #info-button4 {
  margin-left: 1rem;
  height: 0.8rem;
  transition: all 0.3s;
  cursor: pointer;
}
.App .rule #info-button4:hover {
  transform: scale(1.25, 1.25);
}
.App .rule #info-button5 {
  margin-left: 1rem;
  height: 0.8rem;
  transition: all 0.3s;
  cursor: pointer;
}
.App .rule #info-button5:hover {
  transform: scale(1.25, 1.25);
}
.App .rule #info-button6 {
  margin-left: 1rem;
  height: 0.8rem;
  transition: all 0.3s;
  cursor: pointer;
}
.App .rule #info-button6:hover {
  transform: scale(1.25, 1.25);
}
.App .rule #info-button7 {
  margin-left: 1rem;
  height: 0.8rem;
  transition: all 0.3s;
  cursor: pointer;
}
.App .rule #info-button7:hover {
  transform: scale(1.25, 1.25);
}
.App .rule #info-button8 {
  margin-left: 1rem;
  height: 0.8rem;
  transition: all 0.3s;
  cursor: pointer;
}
.App .rule #info-button8:hover {
  transform: scale(1.25, 1.25);
}
.App .rule #info-button9 {
  margin-left: 1rem;
  height: 0.8rem;
  transition: all 0.3s;
  cursor: pointer;
}
.App .rule #info-button9:hover {
  transform: scale(1.25, 1.25);
}
.App .rule #info-button10 {
  margin-left: 1rem;
  height: 0.8rem;
  transition: all 0.3s;
  cursor: pointer;
}
.App .rule #info-button10:hover {
  transform: scale(1.25, 1.25);
}
.App .rule #info-button11 {
  margin-left: 1rem;
  height: 0.8rem;
  transition: all 0.3s;
  cursor: pointer;
}
.App .rule #info-button11:hover {
  transform: scale(1.25, 1.25);
}
.App .rule #info-button12 {
  margin-left: 1rem;
  height: 0.8rem;
  transition: all 0.3s;
  cursor: pointer;
}
.App .rule #info-button12:hover {
  transform: scale(1.25, 1.25);
}
.App h2 {
  font-size: 1.1rem;
}
.App h2.divisor {
  flex: 1;
}
.App h2.divisible {
  flex: 0.7 0.7;
}
.App h2 {
  font-size: 1.1rem;
  font-weight: 700;
}
.App h3 {
  margin-top: 1rem;
  margin-bottom: 0.4rem;
  max-width: 80%;
}
.App label {
  margin-top: 0;
}
.App h3, .App label {
  font-size: 0.9rem;
  font-weight: 300;
  text-align: center;
}
.App #credits h4 {
  font-size: 0.7rem;
  font-weight: 300;
  text-align: center;
}
.App #credits h4:nth-of-type(1) {
  margin-top: 1rem;
  margin-bottom: 0;
}
.App #credits h4:nth-of-type(2) {
  margin-top: 0;
}
.App #credits h4 a {
  text-decoration: none;
  color: black;
  transition: color 0.5s;
}
.App #credits h4 a:hover {
  color: green;
}
.App label {
  margin-bottom: 0;
  line-height: 0.5rem;
  margin-top: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App label input {
  font-family: "Kalam", Verdana, sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  width: 9rem;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  text-align: center;
  outline: none;
  margin-right: -15px;
}
.App #table {
  width: 80%;
  max-width: 40rem;
  margin-top: 0;
}
.App #table .table-row {
  display: flex;
  flex-direction: row;
  height: 2.1rem;
  align-items: center;
  position: relative;
}
.App #table .table-row:not(:first-of-type) h2 {
  font-weight: 500;
}
.App #table .table-row .stroke {
  position: absolute;
  z-index: -1;
  opacity: 0.4;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  pointer-events: none;
  width: 100%;
  transform: translateX(-3%);
}
.App #table .table-row .stroke#stroke0 {
  animation: 0.15s draw-stroke forwards 0s;
}
.App #table .table-row .stroke.reverse-anim#stroke0 {
  animation: 0.15s draw-stroke-reversed forwards 0s;
}
.App #table .table-row .stroke {
  position: absolute;
  z-index: -1;
  opacity: 0.4;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  pointer-events: none;
  width: 100%;
  transform: translateX(-3%);
}
.App #table .table-row .stroke#stroke1 {
  animation: 0.15s draw-stroke forwards 0.2s;
}
.App #table .table-row .stroke.reverse-anim#stroke1 {
  animation: 0.15s draw-stroke-reversed forwards 0.2s;
}
.App #table .table-row .stroke {
  position: absolute;
  z-index: -1;
  opacity: 0.4;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  pointer-events: none;
  width: 100%;
  transform: translateX(-3%);
}
.App #table .table-row .stroke#stroke2 {
  animation: 0.15s draw-stroke forwards 0.4s;
}
.App #table .table-row .stroke.reverse-anim#stroke2 {
  animation: 0.15s draw-stroke-reversed forwards 0.4s;
}
.App #table .table-row .stroke {
  position: absolute;
  z-index: -1;
  opacity: 0.4;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  pointer-events: none;
  width: 100%;
  transform: translateX(-3%);
}
.App #table .table-row .stroke#stroke3 {
  animation: 0.15s draw-stroke forwards 0.6s;
}
.App #table .table-row .stroke.reverse-anim#stroke3 {
  animation: 0.15s draw-stroke-reversed forwards 0.6s;
}
.App #table .table-row .stroke {
  position: absolute;
  z-index: -1;
  opacity: 0.4;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  pointer-events: none;
  width: 100%;
  transform: translateX(-3%);
}
.App #table .table-row .stroke#stroke4 {
  animation: 0.15s draw-stroke forwards 0.8s;
}
.App #table .table-row .stroke.reverse-anim#stroke4 {
  animation: 0.15s draw-stroke-reversed forwards 0.8s;
}
.App #table .table-row .stroke {
  position: absolute;
  z-index: -1;
  opacity: 0.4;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  pointer-events: none;
  width: 100%;
  transform: translateX(-3%);
}
.App #table .table-row .stroke#stroke5 {
  animation: 0.15s draw-stroke forwards 1s;
}
.App #table .table-row .stroke.reverse-anim#stroke5 {
  animation: 0.15s draw-stroke-reversed forwards 1s;
}
.App #table .table-row .stroke {
  position: absolute;
  z-index: -1;
  opacity: 0.4;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  pointer-events: none;
  width: 100%;
  transform: translateX(-3%);
}
.App #table .table-row .stroke#stroke6 {
  animation: 0.15s draw-stroke forwards 1.2s;
}
.App #table .table-row .stroke.reverse-anim#stroke6 {
  animation: 0.15s draw-stroke-reversed forwards 1.2s;
}
.App #table .table-row .stroke {
  position: absolute;
  z-index: -1;
  opacity: 0.4;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  pointer-events: none;
  width: 100%;
  transform: translateX(-3%);
}
.App #table .table-row .stroke#stroke7 {
  animation: 0.15s draw-stroke forwards 1.4s;
}
.App #table .table-row .stroke.reverse-anim#stroke7 {
  animation: 0.15s draw-stroke-reversed forwards 1.4s;
}
.App #table .table-row .stroke {
  position: absolute;
  z-index: -1;
  opacity: 0.4;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  pointer-events: none;
  width: 100%;
  transform: translateX(-3%);
}
.App #table .table-row .stroke#stroke8 {
  animation: 0.15s draw-stroke forwards 1.6s;
}
.App #table .table-row .stroke.reverse-anim#stroke8 {
  animation: 0.15s draw-stroke-reversed forwards 1.6s;
}
.App #table .table-row .stroke {
  position: absolute;
  z-index: -1;
  opacity: 0.4;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  pointer-events: none;
  width: 100%;
  transform: translateX(-3%);
}
.App #table .table-row .stroke#stroke9 {
  animation: 0.15s draw-stroke forwards 1.8s;
}
.App #table .table-row .stroke.reverse-anim#stroke9 {
  animation: 0.15s draw-stroke-reversed forwards 1.8s;
}
.App #table .table-row .stroke {
  position: absolute;
  z-index: -1;
  opacity: 0.4;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  pointer-events: none;
  width: 100%;
  transform: translateX(-3%);
}
.App #table .table-row .stroke#stroke10 {
  animation: 0.15s draw-stroke forwards 2s;
}
.App #table .table-row .stroke.reverse-anim#stroke10 {
  animation: 0.15s draw-stroke-reversed forwards 2s;
}
.App #table .table-row .stroke {
  position: absolute;
  z-index: -1;
  opacity: 0.4;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  pointer-events: none;
  width: 100%;
  transform: translateX(-3%);
}
.App #table .table-row .stroke#stroke11 {
  animation: 0.15s draw-stroke forwards 2.2s;
}
.App #table .table-row .stroke.reverse-anim#stroke11 {
  animation: 0.15s draw-stroke-reversed forwards 2.2s;
}
.App #table .table-row .stroke {
  position: absolute;
  z-index: -1;
  opacity: 0.4;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  pointer-events: none;
  width: 100%;
  transform: translateX(-3%);
}
.App #table .table-row .stroke#stroke12 {
  animation: 0.15s draw-stroke forwards 2.4s;
}
.App #table .table-row .stroke.reverse-anim#stroke12 {
  animation: 0.15s draw-stroke-reversed forwards 2.4s;
}
@keyframes draw-stroke {
  from {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes draw-stroke-reversed {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  to {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
}

@media (max-width: 650px), (max-height: 650px) {
  html {
    font-size: 14px;
  }
  html .App {
    padding-top: 5%;
    overflow: auto;
    height: min-content;
  }
  html .App > h1 {
    margin-top: 3.5rem;
  }
  html .App > h3 {
    line-height: 1.3em;
  }
  html .App > h3, html .App > label {
    font-size: 1.1rem;
  }
  html .App > label {
    line-height: 0;
  }
  html .App > label input {
    margin-right: 0;
    padding: 0;
  }
  html .App #table .table-row {
    height: unset;
    align-items: flex-start;
  }
  html .App #table .table-row .stroke {
    height: 100%;
    width: 110%;
  }
  html .App #table .table-row h2 {
    line-height: 1.3rem;
    margin: 0.5rem 0;
    font-size: 1.2rem;
  }
  html .App #table .table-row .divisor, html .App #table .table-row .rule, html .App #table .table-row .divisible {
    flex-shrink: 0;
  }
  html .App #table .table-row .divisor {
    flex-basis: 24%;
  }
  html .App #table .table-row .rule {
    flex-basis: 46%;
    padding-right: 1rem;
    align-items: flex-start;
  }
  html .App #table .table-row .rule img {
    margin-top: 0.6rem;
    height: 1rem;
  }
  html .App #table .table-row .divisible {
    flex-basis: 30%;
  }
  html .App #credits {
    margin-bottom: 0.5rem;
    padding: 0 1.3rem;
  }
  html .App #credits h4 {
    font-size: 0.9rem;
  }
}

/*# sourceMappingURL=App.css.map */
