#expl-window-container {
    width: 0;
    height: 0;
    position: fixed;
    background-color: white;
    box-shadow: 7px 8px 20px 0 rgba(0 0 0 / 0.5);
    z-index: 10;

    animation: 0.5s grow forwards;

    #expl-window-bg {
        position: absolute;
        background-image: url("../public/bg.jpg");
        background-size: 79em;
        opacity: 0.3;
        background-color: red;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #expl-window {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        $color-change-dur: 0.5s;

        .headline {
            font-size: 2.5em;
            font-weight: 700;
            line-height: 0;
            margin-bottom: 1.1em;
            margin-top: 0.7em;
        }

        #explanation {
            font-size: 1.1em;
            font-weight: 400;
            margin-bottom: 0.5em;
            width: 90%;
        }

        h1 {
            font-size: 3em;
        }

        .divisor, .not-divisor {
            line-height: 0.4em;
        }

        #demonstration1 {
            &.divisor span {
                animation: $color-change-dur color-change-lightgreen forwards 1s;
            }

            &.not-divisor span {
                animation: $color-change-dur color-change-red forwards 1s;
            }
        }

        #demonstration2 {
            &.divisor span {
                animation: $color-change-dur color-change-lightgreen-translate forwards 1s;
            }

            &.not-divisor span {
                animation: $color-change-dur color-change-red-translate forwards 1s;
            }
        }

        #demonstration3 {
            overflow: auto;
            width: 80%;
            display: flex;
            align-items: center;
            flex-direction: column-reverse;
            justify-content: flex-end;
            $anim-dur: 3s;
            $margin-condensed: -2%;
            $margin-extended: 3%;
            @for $i from 0 to 20 {

                #row#{$i} {
                    margin: 0;
                    opacity: 0;
                    animation: $anim-dur * 0.67 fade-in-slide-down forwards $i * $anim-dur;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                    .operator {
                        opacity: 0;
                        animation: $anim-dur * 0.17 reveal-operators forwards ($i + 0.83) * $anim-dur;
                    }

                    // Left-most digit (not single-digit number)
                    .digit:first-child:not(:last-child) {
                        margin-right: $margin-condensed;
                        animation: $anim-dur * 0.17 translate-left forwards ($i + 0.67) * $anim-dur;
                    }

                    // Mid-digit
                    .digit:not(:last-child):not(:first-child) {
                        margin-left: $margin-condensed;
                        margin-right: $margin-condensed;
                        animation: $anim-dur * 0.17 translate-left-right forwards ($i + 0.67) * $anim-dur;
                    }

                    // Right-most digit (not single-digit)
                    .digit:last-child:not(:first-child) {
                        margin-left: $margin-condensed;
                        animation: $anim-dur * 0.17 translate-right forwards ($i + 0.67) * $anim-dur;
                    }

                    // Single-digit numbers
                    &.divisor .digit:only-child {
                        animation: $color-change-dur color-change-lightgreen forwards ($i + 0.84) * $anim-dur;
                    }
                    &.not-divisor .digit:only-child {
                        animation: $color-change-dur color-change-red forwards ($i + 0.84) * $anim-dur;
                    }

                }
            }

            @keyframes translate-left {
                from {
                    margin-right: $margin-condensed;
                }
                to {
                    margin-right: $margin-extended;
                }
            }

            @keyframes translate-left-right {
                from {
                    margin-right: $margin-condensed;
                    margin-left: $margin-condensed;
                }
                to {
                    margin-left: $margin-extended;
                    margin-right: $margin-extended;
                }
            }
        }

        @keyframes translate-right {
            from {
                margin-left: -15%;
            }
            to {
                margin-left: 10%;
            }
        }

        @keyframes reveal-operators {
            0% {
                opacity: 0;
            }
            50% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        @keyframes fade-in-slide-down {
            0% {
                margin: 0;
                opacity: 0;
            }
            50% {
                margin-top: 0.7em;
                margin-bottom: 0.1em;
                opacity: 0;
            }
            100% {
                margin-top: 0.7em;
                margin-bottom: 0.1em;
                opacity: 1;
            }
        }
    }

    @mixin color-change($color, $margin-left) {
        from {
            color: black;
        }
        to {
            color: $color;
            margin-left: #{$margin-left}em;
        }
    }

    @keyframes color-change-lightgreen-translate {
        @include color-change(lightgreen, 0.5);
    }

    @keyframes color-change-red-translate {
        @include color-change(red, 0.5);
    }

    @keyframes color-change-lightgreen {
        @include color-change(lightgreen, 0);
    }

    @keyframes color-change-red {
        @include color-change(red, 0);
    }
}

@keyframes grow {
    from {
        width: 0;
        height: 0;
    }
    to {
        width: 40em;
        height: 25em;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
